@import url("https://fonts.cdnfonts.com/css/general-sans");

* {
  margin: 0px;
  padding: 0px;
}

.favorite-wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 104px;
}

.fav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 42px;

  h1 {
    font-family: "Satoshi", sans-serif;
    font-size: 34px;
    font-weight: 700;
  }
  .header-btn {
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #016e7f;
    cursor: pointer;
    text-decoration: none;
  }
}

.favorites-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 64px;
  justify-items: center;
}

.favorites-card {
  position: relative;
  .img-cont {
    max-width: 284px;
    max-height: 233px;
    padding: 16px, 12px, 16px, 12px;
    border: 5px solid white;
    border-radius: 6px;
    margin-bottom: 8px;
    box-shadow: 0px 3px 3px 0px #00000026;
    overflow: hidden;

    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  .favorite-info {
    display: flex;
    justify-content: space-between;

    .title {
      font-family: "General Sans", sans-serif;
      font-size: 17px;
      font-weight: 600;
      color: #333333;
      margin: 0px;
    }
    .desc {
      font-family: "General Sans", sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: #333333;
      margin: 0px;
    }
    .fav-dropdown {
      position: absolute;
      overflow: hidden;
      max-width: 204px;
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #e7eaeb;
      border-radius: 8px;
      top: 270px;
      left: 80px;
      justify-content: stretch;
      // align-items: center;
      #a {
        font-family: "General Sans", sans-serif;
        font-weight: 500;
        size: 16px;
        justify-content: center;
        cursor: pointer;
        padding: 5px 0;
        text-align: center;
        border-bottom: 1px solid #d9d9d9;
        &:hover {
          background-color: #e6f1f3;
        }
      }
      #b {
        font-family: "General Sans", sans-serif;
        font-weight: 500;
        size: 16px;
        justify-content: center;
        cursor: pointer;
        padding: 5px 0;
        text-align: center;
        &:hover {
          background-color: #e6f1f3;
        }
      }
      hr {
        margin: 0;
      }
    }
  }
}

//DROPDOWN

.dropdown {
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    font-weight: 1000;
    cursor: pointer;
  }
  .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    font-family: "General Sans", sans-serif;
    color: #333333;
    border: 1px solid #d9d9d9;
    background-color: white;
    font-weight: 500;
    max-width: 204px;
    max-height: 40px;
    padding: 0px 12px 0px 12px;
  }
}
//  CREATE FAVORITE MODAL
.create-fav-modal {
  padding: 34px;

  .create-fav-body {
    padding: 34px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    input {
      height: 56px;
      border-radius: 12px;
      border-color: #d9d9d9;
      outline: none;
      border: 1px solid #d9d9d9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 255, 255, 0.6);
      margin-bottom: 24px;
      &:focus {
        border-color: #4fa2b4;
      }
    }
    button {
      font-size: 16px;
      font-weight: 500;
      height: 60px;
      // height: 100%;
      background-color: #016e7f;
      color: #ffffff;
      border-radius: 12px;
      outline: none;
      border: 1px solid #d9d9d9;
    }
  }
}

// DELETE FAVORITE MODAL
.delete-fav-modal {
  .delete-modal-text {
    font-family: "General Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
  }
  button {
    width: 200px;
    padding: 12px 20px;
    background-color: #016e7f;
    color: #ffffff;
    border-radius: 12px;
    outline: none;
    border: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(255, 255, 255, 0.6);
  }
  .cancel-btn {
    padding: 12px 20px;
    text-decoration: none;
    color: #016e7f;
  }
}

//RENAME FAVORITE MODAL
.rename-fav-modal {
  .rename-modal-body {
    padding: 24px;
    input {
      height: 56px;
      border-radius: 12px;
      border-color: #d9d9d9;
      outline: none;
      border: 1px solid #d9d9d9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 255, 255, 0.6);
      margin-bottom: 24px;
      &:focus {
        border-color: #4fa2b4;
      }
    }
    button {
      font-size: 16px;
      font-weight: 500;
      height: 60px;
      background-color: #016e7f;
      color: #ffffff;
      border-radius: 12px;
      outline: none;
      border: 1px solid #d9d9d9;
    }
  }
}

// FAVORITES
.fav-page {
  padding: 60px 104px 60px 104px;

  h3 {
    margin: 0px;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  p {
    margin: 0px;
    color: #016e7f;
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  .sort-dropdown-btn {
    position: relative;
  }
  .sort-dropdown {
    position: absolute;
    overflow: hidden;
    width: 204px;
    max-width: 100%;
    border: 1px solid #4fa2b4;
    border-radius: 8px;
    background-color: #ffffff;
    top: 245px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    .sort-dropdown-item {
      font-family: "General Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      padding: 5px 12px;
      display: flex;
      cursor: pointer;
      border-bottom: 1px solid #d9d9d9;
      &:hover {
        background-color: #e6f1f3;
        border-bottom: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .favorites-infocard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(458px, 1fr));
    gap: 20px;
    place-items: center;

    .favorites-infocard {
      display: flex;
      gap: 15px;
      max-width: 586px;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      padding: 16px 14px;
      height: fit-content;
      align-items: center;
      cursor: pointer;
    }

    .infocard-img {
      max-width: 159px;
      max-height: 144px;
      cursor: pointer;
      img {
        object-fit: cover;
        width: 159px;
        height: 144px;
        border-radius: 10px;
      }
    }

    .btn {
      background-color: transparent;
      &:focus {
        border: none;
      }
    }

    .title {
      font-family: "General Sans", sans-serif;
      font-weight: 600;
      font-size: 20px;
    }

    p {
      font-family: "General Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #333333;
    }

    .infocard-text {
      width: 100%;
    }
  }
  .tag-div .tag {
    padding: 4px 8px;
    background-color: #d0f0ef;
    color: #016e7f;
    border-radius: 12px;
    font-weight: 500;
    font-size: clamp(10px, 10vw, 13px);
    font-family: "General Sans", sans-serif;
  }

  .off-tag {
    padding: 4px 8px;
    background-color: #eb534b;
    color: white;
    border-radius: 12px;
    font-weight: 500;
    font-size: clamp(10px, 10vw, 13px);
    font-family: "General Sans", sans-serif;
  }
}

//SHARE MODAL
.share-fav-modal {
  display: flex;
  flex-direction: column;
  gap: 34px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 12px;
  .modal-card {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 16px;
    img {
      width: 124px;
      height: 108px;
      border-radius: 6px;
    }
    .modal-title {
      font-family: "General Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .fav-btngroup {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    button {
      border-radius: 12px;
      background-color: #f9f9f9;
      padding: 10px 20px;
      width: 137px;
      border: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      &:active {
        background-color: #d0f0ef;
        border: 1px solid #4fa2b4;
        color: #016e7f;
      }
      p {
        font-family: "General Sans", sans-serif;
        font-weight: 500;
        font-size: 13px;
      }
    }
  }
  .property-info span {
    background-color: #d0f0ef;
    color: #016e7f;
    font-size: 10px;
    font-weight: 700;
    font-family: "Satoshi";
    padding: 2px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }
  .room-details {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #217c38;
  }
}
