//* ProgressLine.tsx -------------------------------
.progress-line-container {
  width: 100%;
  display: flex;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: "General Sans", sans-serif;
  background-color: #016e7f;
  padding: 140px 104px 50px 104px;
  max-height: 100px;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;

  .element-line-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .line {
    width: 65px;
    background-color: white;
    height: 1px;
  }
}

//*FlightBookingDetails.tsx -------------------------------
.flight-booking-details-container {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
}
.booking-details-container {
  grid-column: 1 / span 2;
  grid-row: 1/3;
  margin-top: 2rem;
  h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  hr {
    margin: 0 0 1rem 0;
  }

  .booking-details {
    margin-bottom: 1rem;
  }
}
.booking-details-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 596px;
  border: 1px solid #d9d9d9;
  padding: 32px;
  .booking-details-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .departure-date-container {
    display: flex;
    justify-content: space-between;
  }
}
.airlines-flight-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.time-location-container {
  display: flex;
  justify-content: space-between;

  .time-location {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .hours-direct {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    width: 100%;

    .hours-direct-line {
      border-bottom: 1.5px dashed #adadad;
      max-width: 291px;
      width: 100%;
    }
  }
}

.booking-detail-input {
  padding: 12px 10px;
  color: #adadad;
  border-radius: 12px;

  label {
    color: #333333;
  }

  &.booking-detail-input::placeholder {
    color: #adadad;
  }
}
// Passenger Details --------------

.passenger-details-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  //   grid-column: 1 / span 2;

  h1 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 0.5rem;
  }

  .passenger-details {
    margin-bottom: 1rem;
  }

  #hr-passenger {
    width: 596px;
  }
}
.bday-nationality-grp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-passenger-details {
  max-width: 601px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 1rem;
}

// Booking Summary
.price-summary-container {
  max-width: 540px;
  margin-top: 1rem;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;

  float: right;
  top: 8rem;

  .price-summary-header {
    padding: 24px 16px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 12px 12px 0 0;
    border: 1px solid #016e7f;
    border-bottom: 1px solid #e8e8e8;
    h1 {
      font-size: 22px;
    }
  }

  .price-summary-content {
    padding: 24px 16px;
    border: 1px solid #016e7f;
    border-top: none;
    background-color: white;

    &.price-summary-content div {
      display: flex;
      justify-content: space-between;
    }

    .base-fare {
      p {
        span {
          cursor: pointer;
          position: relative;
          width: 5px;
          height: 10px;

          img {
            position: absolute;
            top: 5.5px;
            left: 10px;
            transition: transform 0.3s ease;
          }
        }
      }
      .rotatedStyle {
        transform: rotate(180deg);
        transition: transform 0.3s ease; /* You can adjust the duration and easing */
      }

      .added-content {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .total-price-summary {
    background-color: #016e7f;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 24px 16px;
  }
}

// Contact Details Container
.contact-details-container {
  max-width: 596px;
  margin-bottom: 3rem;
  margin-top: 2rem;
  .contact-details {
    h1 {
      font-weight: 700;
      font-size: 34px;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}
