/* Footer  */
footer {
  padding: 40px 104px;
  background-color: rgba(1, 110, 127, 1);
  max-width: 1440px fit-content;
  width: 100%;
}

.left-col {
  display: flex;
  color: white;
  gap: 80px;
}

.cols {
  display: grid;
  gap: 8px;
  h3 {
    font-family: "General Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  p {
    text-decoration: none;
    color: #ffff;
    font-family: "General Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  border-bottom: 1px solid #ffff;
  padding-top: 32px;
  padding-bottom: 32px;
}

#copyright {
  background-color: rgba(1, 110, 127, 1);
  right: 0px;
  color: white;
  text-align: right;
  font-size: 10px;
  padding: 16px 0px;
}

.right-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  img {
    max-width: 340px;
    width: 100%;
    align-self: flex-end;
  }
  .logo-group {
    display: flex;
    border-right: 1px solid #ffff;
    padding: 0px 14px;
    gap: 14px;
  }
}
