.form-control,
.form-select {
  border: 1px solid rgba(217, 217, 217, 1) !important;
  height: 56px !important;
  border-radius: 12px;
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(173, 173, 173, 1) !important;
}

.form-control::placeholder {
  color: rgba(173, 173, 173, 1);
}

.form-control:focus,
.form-select:focus,
.form-control:not(:placeholder-shown) {
  border: 1px solid rgba(79, 162, 180, 1) !important;
  height: 56px !important;
  border-radius: 12px;
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: black !important;
}

.text-input {
  position: relative;

  label {
    margin-bottom: 0.5rem;
  }
  .icon {
    position: absolute;
    display: inline-block;
    left: 15px;
    bottom: 20px;
  }
  input[type="text"] {
    height: 56px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    outline: none;
    padding-left: 2.5rem;
    position: inline-block;
    background-color: white;
  }
}

.select-input {
  position: relative;

  label {
    margin-bottom: 0.5rem;
  }
  .icon {
    position: absolute;
    display: inline-block;
    left: 15px;
    bottom: 20px;
  }
  select {
    height: 56px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    outline: none;
    padding: 0 1rem;
    // position: inline-block;
    background-color: white;
    // -moz-appearance: none; /* Firefox */
    // -webkit-appearance: none; /* Safari and Chrome */
    // appearance: none;

    option {
      padding: 1rem;
    }
  }
}
