@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

.hero-section {
  background: url("https://galago-assets.s3.ap-southeast-1.amazonaws.com/galago-v1-web/galago-v1-web/src/resources/images/homepage/banner_IMG.webp");
  height: 150vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: grid;
  place-items: center;

  .hero-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
