.hotel-profile-container {
  padding-top: 5rem;
}

.property-offers-container {
  border-top: 1px solid #e7eaeb;
  padding: 3rem 0;
}
.offers-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .offer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
  }
}

.about-stay-container {
  padding-bottom: 1rem;
  h1 {
    margin-bottom: 1rem;
  }
  p:nth-of-type(2) {
    margin: 2rem 0;
  }
  a {
    font-family: "Satoshi", sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
}

.hotel-navigator {
  border-top: 1px solid #e7eaeb;
  border-bottom: 1px solid #e7eaeb;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 14px;
  font-weight: 500;

  a {
    text-decoration: none;
    color: #333333;
  }

  a:hover {
    color: #016e7f;
  }
}

.available-rooms {
  margin: 2rem 0;

  .price-per-night2 {
    > p {
      margin-top: 0.5rem;
      font-size: 14px;
      font-family: "General Sans", sans-serif;
      text-align: right;
    }
  }
}

.see-more {
  color: #016e7f;
  margin: 4rem 0;
  border-bottom: 1px solid #016e7f;
  width: fit-content;
  cursor: pointer;
}

.hotel-location-container {
  border-top: 1px solid #e7eaeb;
  padding: 32px 0 40px 0;
}

.map-image {
  position: relative;

  img {
    max-height: 505px;
    width: 100%;
    object-fit: cover;
  }
  .map-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #016e7f;
    max-width: 49px;
    height: 49px;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 9999;
  }

  .map-overlay-border {
    position: absolute;
    max-width: 100px;
    min-height: 100px;
    width: 100%;
    background-color: #016e7f4d;
    top: 45%;
    left: 48%;
    border-radius: 50%;
  }
}

.hotel-policies-container {
  padding: 32px 0 40px 0;
  border-top: 1px solid #e7eaeb;

  .hotel-policies {
    border: 1px solid #016e7f;
    padding: 25px 64px 0px 64px;
    border-radius: 12px;

    .hotel-policy {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 50px 24px 50px 24px;
      border-bottom: 1px solid #e7eaeb;
    }
  }
}
