.img-big {
  //   max-width: 515px;
  //   height: 545px;
  width: 100%;
}

.property-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 4vw);
  gap: 1rem;

  margin-bottom: 3rem;

  .property-img {
    background-color: #adadad;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .property-img:nth-child(1) {
    width: 100%;
    grid-row: 1 / 7;
    grid-column: 1 / 3;
    border-radius: 16px 0px 0px 16px;
  }

  .property-img:nth-child(2) {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
  }

  .property-img:nth-child(3) {
    grid-row: 1 / 4;
    grid-column: 4 / 5;
    border-top-right-radius: 16px;
  }

  .property-img:nth-child(4) {
    grid-row: 4 / 7;
    grid-column: 3 / 4;
  }

  .property-img:nth-child(5) {
    position: relative;
    grid-row: 4 / 7;
    grid-column: 4 / 5;
    border-bottom-right-radius: 16px;
    background: #c04848;
    cursor: pointer;

    &::before {
      content: "See All Photos";
      font-size: 17px;
      font-family: "General Sans", sans-serif;
      font-weight: 500;
      color: white;
      display: grid;
      place-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
