@import "https://fonts.cdnfonts.com/css/general-sans";
@import "https://fonts.cdnfonts.com/css/satoshi";

.nav-container {
  height: 100px;
  padding: 0px 104px;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
}

.nav-container-bg {
  background-color: #016e7f;
}

.nav-logo {
  p {
    margin: 0px;
  }
  img {
    height: 39.142px;
  }
}
.nav-links {
  color: #fff;
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  p {
    text-decoration: none;
    color: #fff;
    padding: 8px 8px;
    margin: 0px;
    margin-right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  button {
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #016e7f;
    font-family: "Satoshi", sans-serif;
    size: 14px;
    font-weight: 500;
    color: #fff;
    width: 90px;
  }
}
