@import "https://fonts.cdnfonts.com/css/general-sans";
@import "https://fonts.cdnfonts.com/css/satoshi";

.nav-container {
  height: 100px;
  padding: 0px 104px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-links {
    color: #fff;
    font-family: "General Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;

    .nav-links-main {
      display: flex;
      align-self: center;

      .active {
        border-bottom: 2px solid;
        padding-bottom: 5px;
      }
    }
    .nav-info {
      position: relative;
      padding-left: 40px;
      display: flex;
      justify-content: center;

      .nav-profile {
        img {
          max-height: 32px;
          height: 100%;
          max-width: 32px;
          width: 100%;
          background-color: #016e7f;
          border-radius: 32px;
          border: 1px solid rgba(51, 51, 51, 1);
        }
      }
      .nav-profile-info {
        border-left: 1px solid #fff;
        padding-left: 7px;
      }

      .nav-dropdown {
        position: absolute;
        top: 55px;
        right: 0px;
        left: 8px;
        background-color: #fff;
        border-radius: 12px;
        padding: 14px;
        max-width: 295px;
        width: 100%;
        border-top: #016e7f;
        border: 1px solid rgba(217, 217, 217, 1);
        z-index: 1;
        display: flex;
        gap: 10px;
        flex-direction: column;

        a {
          padding: 0px;
        }
        hr {
          margin: 0px;
          color: rgba(231, 234, 235, 1);
        }
        .nav-dropdown-links {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: #333333;
          font-family: "General Sans", sans-serif;
          font-weight: 500;
          font-size: 16px;
          &:active {
            color: rgba(1, 110, 127, 1);
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      // padding: 8px;
      // width: 90px;
    }
    button {
      border-radius: 6px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: #016e7f;
      font-family: "Satoshi", sans-serif;
      size: 14px;
      font-weight: 500;
      color: #fff;
      width: 90px;
    }
  }
  .nav-logo {
    p {
      margin: 0px;
    }
    img {
      height: 39.142px;
    }
  }
}

.nav-container-bg {
  background-color: #016e7f;
}

//WHITE NAVBAR
.white-nav {
  max-height: 100px;
  height: 100%;
  position: fixed;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3);
  box-shadow: 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.nav-content {
  padding: 0px 104px;

  .main-links {
    color: #333333;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
  }

  .nav-profile-info {
    cursor: pointer;
    p {
      padding-left: 6px;
    }
  }
}
.nav-info-right {
  position: relative;
  padding-left: 40px;
  .nav-profile {
    img {
      max-height: 32px;
      height: 100%;
      max-width: 32px;
      width: 100%;
      background-color: #016e7f;
      border-radius: 32px;
      border: 1px solid rgba(51, 51, 51, 1);
    }
  }
  .nav-dropdown {
    position: absolute;
    top: 55px;
    right: 0px;
    left: 8px;
    background-color: #fff;
    border-radius: 12px;
    padding: 14px;
    max-width: 205px;
    width: 100%;
    border-top: #016e7f;
    border: 1px solid rgba(217, 217, 217, 1);
    z-index: 1;

    hr {
      margin: 0px;
      color: rgba(231, 234, 235, 1);
    }
    .nav-dropdown-links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #333333;
      margin: 10px 0px;
      font-family: "General Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      &:active {
        color: rgba(1, 110, 127, 1);
      }
    }
  }
}
