@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/general-sans");

// Text Colors
.primary-color-b {
  color: #333333;
}
.primary-color {
  color: #016e7f;
}

.secondary-color {
  color: #adadad;
}

.border-primary {
  color: #d9d9d9;
}

// Text Styles
.primary-txt {
  font-size: 16px;
  font-family: "General Sans", sans-serif;
}

.title-txtG {
  font-family: "General Sans", sans-serif;
}
