//*Search Filter
.search-container {
  max-width: 360px;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .search-container {
    display: none;
  }
}
.search-filter-container {
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
  width: 100%;

  .search-header {
    background-color: #016e7f;
    color: white;
    padding: 8px 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    p {
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  .text-grey {
    color: #adadad;
  }
  .search-content {
    padding: 30px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    .duration-container {
      margin-bottom: 1rem;
      h1 {
        font-size: 20px;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        font-family: "General Sans", sans-serif;
      }
    }

    .slider-container {
      margin-bottom: 1rem;

      //!SLIDER COMPONENT
      .rs-slider-progress-bar {
        background-color: #016e7f;
        height: 3px;
      }

      .rs-slider-handle::before {
        border: 2px solid #016e7f;
        width: 22px;
        height: 22px;
        bottom: -14px;
      }

      .rs-slider-bar {
        height: 3px;
      }

      //!RANGE SLIDER COMPONENT
    }

    .cabin-container {
      .cabin-header {
        display: flex;
        justify-content: space-between;

        h1 {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    // hotel result search filter
    .price-range-container {
      .css-1gv0vcd-MuiSlider-track {
        background-color: #016e7f;
        border-color: #016e7f;
      }

      .css-14pt78w-MuiSlider-rail {
        background-color: #016e7f;
      }

      .css-187mznn-MuiSlider-root {
        color: white;
      }

      .price-range-btns {
        position: relative;

        &::before {
          content: "";
          border-top: 3px dashed #d9d9d9;
          border-width: 3px;
          width: 100%;
          position: absolute;
          left: 0%;
          top: 50%;
          z-index: 0;
        }
        .price-range-btn {
          background-color: white;
          border: 1px solid #016e7f;
          color: #016e7f;
          text-align: start;
          padding: 5px 12px 8px 12px;
          z-index: 1;
          position: relative;

          &:nth-child(1)::after {
            content: "";
            position: absolute;
            right: 0;
            border-right: 2px solid red;
          }
        }
      }
    }

    //!CHECKBOXES

    .checkbox-group {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      margin-bottom: 1rem;
    }
    .checkbox {
      .form-check-input:checked {
        background-color: #016e7f;
        border-color: #016e7f;
      }

      .form-check-input {
        width: 24px;
        height: 24px;
        border-radius: 6px;
      }

      .form-check.form-check-inline {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .aircraft-container {
      .aircraft-header {
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .time-container {
      h1 {
        font-size: 20px;
        font-weight: 700;
      }

      .range-slider-container {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
  }

  .ratings-container {
    display: flex;
    gap: 0.9rem;
    flex-wrap: wrap;

    .rating {
      cursor: pointer;
      display: flex;
      padding: 8px;
      border: 1px solid #d9d9d9;
      border-radius: 6px;
      gap: 0.5rem;
      align-items: center;
      max-width: 54px;
      justify-content: center;
      transition: 0.2s ease;
      img {
        width: 14px;
        height: 14px;
      }

      &:hover {
        transition: 0.2s ease;
        background-color: #016e7f;
        color: white;
        border-color: #016e7f;
      }
    }
  }
}
