.selected-flight-card {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #016e7f;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  margin: 2rem 0;
  position: relative;

  .selected-tag {
    background-color: #016e7f;
    color: white;
    padding: 4px 16px;
    border-radius: 8px 8px 8px 0px;
    position: absolute;
    top: -16px;
    left: -1px;
  }

  h4 {
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 13px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    color: #016e7f;
  }

  #broken-border {
    border-bottom: 2px dashed #d9d9d9;
    width: 160px;
  }

  .info-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.back-or-book {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 3rem;
}

//* FlightLoadingModal.tsx ------------------------
.loading-modal-body {
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 400px;
  min-height: 400px;
}
