.terms-header {
  height: 82px;
  padding: 24px 104px;
  background-color: rgba(1, 110, 127, 1);
  color: #ffffff;
  p {
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
  }
}
